<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>User Details</h1>
	<dl class="dl-horizontal">
		<dt>Id</dt>
		<dd th:text="${user.psAor.id}">number</dd>
	</dl>

	<h2>Aor</h2>
	<dl class="dl-horizontal">
		<dt>Contact</dt>
		<dd th:text="${user.psAor.contact}">number</dd>
		<dt>Max Contacts</dt>
		<dd th:text="${user.psAor.maxContacts}">number</dd>
	</dl>
	<h2>Endpoint</h2>
		<dl class="dl-horizontal">
			<dt>Account Code</dt>
			<dd th:text="${user.psEndpoint.accountcode}">number</dd>
			<dt>Context</dt>
			<dd th:text="${user.psEndpoint.context}">number</dd>
			<dt>Allow</dt>
			<dd th:text="${user.psEndpoint.allow}">number</dd>
		</dl>

	<div style="height: 2cm">&nbsp;</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/users/search}">User Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
